<h1>Listing Users</h1>

<table class="table" id="userTable">
  <thead>
    <tr>
      <th>UserName</th>
      <th>First Name</th>      
      <th>Last Name</th>
      <th>Role</th>
       <% if current_user.role == ENV["ROLE_ADMIN"]%>
      	<th>Actions</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=link_to user.username,schedules_path(:user_id => user.id) %></td>
        <td><%= user.first_name %></td>        
        <td><%= user.last_name %></td>
        <td><%= user.role%></td>
        <% if current_user.role == ENV["ROLE_ADMIN"]%>
       	 <td><%=link_to "Edit Role",admin_panel_edit_role_path(:user=> user) %></td>
       <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
	
	$("#userTable").DataTable({
	  responsive: true
	});
</script>


