
<%= form_for @schedule, :html => { :id => 'event_form' } do |f| %>
<p>
  
  <%=f.text_field :title,:class=>"form-control form-white",:placeholder=>"Title" %>
</p>
<p>
  
  <%=f.text_area :description, :rows => 4, :cols => 30,:class=>"form-control form-white",:placeholder=>"Description" %>
</p>
<p>
 
  <%=f.text_field :class_name,:class=>"form-control form-white",:placeholder=>"Class" %>
</p>

<p>
  
 <div class='input-group date scdatepicker' >
  <%=f.text_field :date,:class=>"form-control form-white" ,:value=> DateTime.now.strftime("%d/%m/%Y ") %>
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
   </div>
  
</p>

<p>
  
  	 <div class='input-group date sctimepicker' >
  <%=f.text_field :starttime,:class=>"form-control form-white",:value => @schedule.starttime.strftime("%I:%M %p ") %>
  <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
   </div>
  
</p>
<p>
  
  	 <div class='input-group date sctimepicker' >
  <%=f.text_field :endtime,:class=>"form-control form-white",:value => @schedule.endtime.in_time_zone(Time.zone).strftime("%I:%M %p ") %>
  <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
   </div>
  
</p>



  


<%=f.hidden_field :id, :value => @schedule.id%>
<%=f.hidden_field :commit_button, :value => ""%>
<p>
  
  <%=f.submit 'Update', :onclick => "document.getElementById('event_commit_button').value = this.value",:class=>"btn  btn-submit"%>
  
  
  <span id = "updating_schedules" class="spinner" style = "display:none;">Updating, Please wait...</span>
</p>
</div>
	</div>
<%end %>

<script>
$(function() {
	// $('.timepicker').datetimepicker({
		// format: "HH:ii P",
        // autoclose: true,      
        // minuteStep: 15,   
        // startView: 'day',
        // minView: 'hour',
        // maxView:'day',     
        // showMeridian: true,
        // startDate: new Date(),
        // pickerPosition:  'top-right'
//           
	// });
// 	
	// $('.datepicker').datetimepicker({
		 // format: "dd MM yyyy",
         // pickerPosition:  'top-right',
            // weekStart: 1,
	        // todayBtn:  0,
			// autoclose: 1,
			// todayHighlight: 1,
			// startView: 2,
			// minView: 2,
			// forceParse: 0      
	// });
	
	$('.sctimepicker').datetimepicker({
                    format: 'LT',
                    stepping: 15
     });
     $('.scdatepicker').datetimepicker({
     	format: 'DD/MM/YYYY',
     	minDate:new Date()
     });
	
}); 
</script>
