<p id="notice">
	<%= notice %>
</p>
<div class="row text-center title">
				<h2>History</h2>
				<% if current_user.role == ENV["ROLE_ADMIN"]%>
				<h4 class="light muted"><%=@user.full_name%></h4>
				<%end%>
</div>

<%unless @schedules.nil?%>
<table id="historyTable" class="table table-bordered">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description:</th>
			<th>Class:</th>
			<th>Date:</th>
			<th>Start Time</th>
			<th>End Time</th>
		</tr>
	</thead>
	<tbody>
		<%@schedules.each_with_index do |schedule,i|%>
		<tr>
			<td>
				<%if !current_user.nil? && (current_user == schedule.user || current_user.role == ENV["ROLE_ADMIN"])%>
				<a id="show_list_events" href="#" onclick="show_list_events_details(<%=schedule.to_json%>); return false;"><%= schedule.title.humanize %></a>
	           <%else%>
	            <a id="show_list_events" href="#" onclick="showEventDetailsUser(<%=schedule.to_json%>); return false;"><%= schedule.title.humanize %></a>
	           <%end%>
            </td>
			<td><%= schedule.description %></td>
			
			<td><%= schedule.class_name %></td>
			
			<td><%= schedule.date.strftime("%d/%m/%Y") %></td>

			<td><%= schedule.starttime.strftime("%I:%M %p ") %></td>

			<td><%= schedule.endtime.strftime("%I:%M %p ") %></td>
		</tr>

		<%end%>
	</tbody>
</table>

<%else%>
<h3>No Schedule</h3>
<%end%>

<script type="text/javascript">
  $("#historyTable").DataTable({
	  responsive: true
	});
	
</script>
