<section>
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row intro-tables">

			<div class="col-md-4">
				<div class="intro-table intro-table-first">
					<h5 class="white heading">Today's Schedule</h5>
					<div class="owl-carousel owl-schedule bottom">
						<%unless @today_schedules.blank?%>
						<% @today_schedules.in_groups_of(3).each do |group| %>
						<div class="item">
							<% group.each do |sc| %>
							<%unless sc.nil?%>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white"><%= sc.class_name%></h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white"><%= sc.starttime.strftime("%I:%M")%> - <%= sc.endtime.strftime("%I:%M")%></h5>
								</div>
							</div>
							<%end%>
							<%end%>
						</div>

						<%end%>
						<%else%>
						<div class="item">
							<div class="col-xs-6">
								<h5 class="regular white">No Schedule Found</h5>
							</div>
						</div>
						<%end%>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="intro-table intro-table-hover">
					<h5 class="white heading hide-hover">All Schedules</h5>
					<div class="bottom">
						<h4 class="white heading small-heading no-margin regular">My Schedules</h4>
						<!-- <h4 class="white heading small-pt">20% Discount</h4> -->
						<%= link_to "Schedules", schedules_path, :class=>"btn btn-white-fill expand"%>
						<!-- <a href="#" class="btn btn-white-fill expand">Schedules</a> -->
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="intro-table intro-table-hover intro-table-third">
					<h5 class="white heading hide-hover">History</h5>
					<div class="bottom">
						<h4 class="white heading small-heading no-margin regular">Schedule History</h4>
						<!-- <h4 class="white heading small-pt">20% Discount</h4> -->
						<%= link_to "History", history_schedules_path, :class=>"btn btn-white-fill expand"%>
						<!-- <a href="#" class="btn btn-white-fill expand">Schedules</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>