<%#remote_form_for @event, :url => {:action => :create}, :before => "$('#creating_events').show();", :complete => "$('#creating_events').hide();" do |f| %>
<%= form_for @event, :html => { :id => 'event_form' } do |f| %>
<p>
  
  <%=f.text_field :title,:class=>"form-control form-white",:placeholder=>"Title" %>
</p>
<p>
  
  <%=f.text_area :description, :rows => 4, :cols => 30,:class=>"form-control form-white",:placeholder=>"Description" %>
</p>
<p>
 
  <%=f.text_field :location,:class=>"form-control form-white",:placeholder=>"Class" %>
</p>

<p>
 
  
  	 <div class='input-group date scdatepicker ' >
  <%=f.text_field :date,:class=>"form-control form-white" ,:value=> DateTime.now.strftime("%d/%m/%Y "),:placeholder=>"Date" %>
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
   </div>
  
</p>


<p>
  
 
  	 <div class='input-group date sctimepicker' >
  <%=f.text_field :starttime,:class=>"form-control form-white " ,:value=> DateTime.now.strftime("%I:%M %p "),:placeholder=>"Start Time" %>
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
   </div>
  
</p>
<p>
  

  	 <div class='input-group date sctimepicker'>
  <%=f.text_field :endtime,:class=>"form-control form-white", :value=> (DateTime.now+ 1.hours).strftime("%I:%M %p "),:placeholder=>"End Time"%>
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
   </div>
  
</p>
<%=f.hidden_field :user_id, :value => @user_id %>
<%=f.hidden_field :id, :value => @event.id %>
<p>
  <%=f.submit 'Create',:class=>"btn  btn-submit" %> <span id = "creating_events" class="spinner" style = "display:none;">Creating, Please wait...</span>
</p>
 
</div>



<%end %>
<script>
$(function() {
	// $('.timepicker').datetimepicker({
		// format: "HH:ii P",
        // autoclose: true,      
        // minuteStep: 15,   
        // startView: 'day',
        // minView: 'hour',
        // maxView:'day',     
        // showMeridian: true,
        // startDate: new Date(),
        // pickerPosition:  'top-right'
//           
	// });
// 	
	// $('.datepicker').datetimepicker({
		 // format: "dd MM yyyy",
         // pickerPosition:  'top-right',
            // weekStart: 1,
	        // todayBtn:  0,
			// autoclose: 1,
			// todayHighlight: 1,
			// startView: 2,
			// minView: 2,
			// forceParse: 0      
	// });
	
	$('.sctimepicker').datetimepicker({
                    format: 'LT'
     });
     $('.scdatepicker').datetimepicker({
     	format: 'DD/MM/YYYY'
     });
	
}); 
</script>

