<div class="preloader">
		<img src="/assets/loader.gif" alt="Preloader image">
	</div>

    
    
    
    
    
    
    
    
    <nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/assets/logo.png" data-active-url="/assets/logo-active.png" alt=""></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					
					<% if user_signed_in? %>				   
				         <% if current_user.role == ENV["ROLE_ADMIN"]%>
				        <li><%=link_to "Users", admin_panel_users_path%></li>
				        <%end%> 		
				        <li><%=link_to "Schedules", schedules_path%></li>	
				        <li><%=link_to "History", history_schedules_path%></li>	
				         	      
				   <%end%>
					
					
					    <% if user_signed_in? %>
				        <li class="dropdown">        	
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %>&nbsp;<i class="glyphicon glyphicon-user"></i>&nbsp; <b class="caret"></b></a>
				          <ul class="dropdown-menu">
				            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
				            <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>				            
				          </ul>
				        </li>
				        <% else %>
				                <li>
									<%#= link_to "Login", new_user_session_path, :class => 'navbar-link', :"data-toggle"=> "modal" ,:"data-target"=>"#modal1"  %>
									<%= link_to "Login", new_user_session_path, :class => 'navbar-link'%>
								</li>
								<li>
									<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn btn-blue'  %>
								</li>								
				        <% end %>
      
					
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
    
    
    
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<h3 class="white modal-title" id="eventModalLabel"></h3>
				<div id="create_event" class="modal-body">
					---
				</div>
			</div>
		</div>
	</div>
	
<div class="modal fade" id="desc_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
			<h3 class="white modal-title" id="desc_dialogLabel"></h3>
			<div class="modal-body">

				<div id = "event_desc"></div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<div id = "event_actions">
							<span id = "edit_event"></span>
							<span id = "delete_event"></span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>



  

   <header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<!-- <h3 class="light white">Take care of your body.</h3> -->
							<h1 class="white typed">Manage Your Schedule.</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header> 
	<hr>
